{
  "trailingComma": "none",
  "singleQuote": true,
  "tabWidth": 4,
  "prettier.useTabs": false,
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": { "parser": "lwc" }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": { "parser": "html" }
    }
  ]
}
